<section class="services" id="services" style="background-image: url('images/bg.png');">
    <div class="container">
        <h2 class="services__title">НАПРАВЛЕНИЯ</h2>
        <ul class="services__list">
            <li class="service">ТРЕНАЖЕРНЫЙ ЗАЛ ДЛЯ ОБЩЕЙ ФИЗИЧЕСКОЙ ПОДГОТОВКИ</li>
            <li class="service">ПРИБРЕЖНАЯ ГРЕБЛЯ</li>
            <li class="service">ГРЕБЛЯ НА ТРЕНАЖЕРАХ</li>
            <li class="service">ГРЕБЛЯ НА ПРОГУЛОЧНЫХ (УЧЕБНЫХ) ЛОДКАХ</li>
            <li class="service">АКАДЕМИЧЕСКАЯ ГРЕБЛЯ</li>
            <li class="service">ПЛОЩАДКИ ДЛЯ ИГРОВЫХ ВИДОВ СПОРТА</li>
            <li class="service">ГРЕБЛЯ НА САПАХ</li>
        </ul>

        <button class="btn open-madal">ЗАПИСАТЬСЯ</button>
        <div class="events">
            <!-- <h3 class="events__title">ОРГАНИЗУЕМ И ПРОВОДИМ</h3>
            <ul class="events__list">
                <li class="events__item">КОРПОРАТИВНЫЕ СПОРТИВНЫЕ СОРЕВНОВАНИЯ ПО ГРЕБЛЕ ПОД КЛЮЧ</li>
                <li class="events__item">СПОРТИВНО-ТУРИСТИЧЕСКИЕ ПОХОДЫ ПО ВОДЕ</li>
                <li class="events__item">АКТИВНЫЕ ПРОГУЛКИ НА ВОДЕ</li>
            </ul> -->            
                ОРГАНИЗУЕМ И ПРОВОДИМ КОРПОРАТИВНЫЕ СПОРТИВНЫЕ СОРЕВНОВАНИЯ ПО ГРЕБЛЕ ПОД КЛЮЧ, <br>
                СПОРТИВНО-ТУРИСТИЧЕСКИЕ ПОХОДЫ ПО ВОДЕ, АКТИВНЫЕ ПРОГУЛКИ НА ВОДЕ
            
        </div>
    </div>
</section>