<section class="tariffs" id="tariffs">
    <div class="container">
        <h2 class="section__title">СТОИМОСТЬ ЗАНЯТИЙ</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide tariff">
                <h3 class="tariff__title">1 тренировка в группе </h3>
                <div class="tariff__include">
                  <ul>
                    <li>Работа с тренером</li>
                    <li>Разминка</li>
                    <li>Тренировка в зале или на воде</li>
                    <li>Все необходимое оборудование</li>
                  </ul>
                  60-90 минут
                </div>
                <span class="tariff__price">1000/1300 ₽</span>
                <a href="#!" class="btn">Связаться</a>
              </div>

              <div class="swiper-slide tariff">
                <h3 class="tariff__title">4 тренировки в месяц </h3>
                <div class="tariff__include">
                  <ul>
                    <li>Работа с тренером</li>
                    <li>Разминка</li>
                    <li>Тренировка в зале или на воде</li>
                    <li>Все необходимое оборудование</li>
                  </ul>
                  60-90 минут
                </div>
                <span class="tariff__price">3600/5000 ₽</span>
                <a href="#!" class="btn">Связаться</a>
              </div>

              <div class="swiper-slide tariff">
                <h3 class="tariff__title">8 тренировкок в месяц </h3>
                <div class="tariff__include">
                  <ul>
                    <li>Работа с тренером</li>
                    <li>Разминка</li>
                    <li>Тренировка в зале или на воде</li>
                    <li>Все необходимое оборудование</li>
                  </ul>
                  60-90 минут
                </div>
                <span class="tariff__price">6000/8000 ₽</span>
                <a href="#!" class="btn">Связаться</a>
              </div>
              
              <div class="swiper-slide tariff">
                <h3 class="tariff__title">12 тренировкок в месяц </h3>
                <div class="tariff__include">
                  <ul>
                    <li>Работа с тренером</li>
                    <li>Разминка</li>
                    <li>Тренировка в зале или на воде</li>
                    <li>Все необходимое оборудование</li>
                  </ul>
                  60-90 минут
                </div>
                <span class="tariff__price">8000/10000 ₽</span>
                <a href="#!" class="btn">Связаться</a>
              </div>
              
              <div class="swiper-slide tariff">
                <h3 class="tariff__title">Индивидуальные тренировки </h3>
                <div class="tariff__include">
                  (до двух человек) 
                  <ul>
                    <li>Работа с тренером</li>
                    <li>Разминка</li>
                    <li>Тренировка в зале или на воде</li>
                    <li>Все необходимое оборудование</li>
                  </ul>
                  60-90 минут
                </div>
                <span class="tariff__price">2000 ₽</span>
                <a href="#!" class="btn">Связаться</a>
              </div>

              <div class="swiper-slide tariff">
                <h3 class="tariff__title">Аренда лодки академической</h3>
                <div class="tariff__include">
                  до 90 мин
                </div>
                <span class="tariff__price">500 одно посадочное место</span>
                <a href="#!" class="btn">Связаться</a>
              </div>

              <div class="swiper-slide tariff">
                <h3 class="tariff__title">Аренда сапа </h3>
                <div class="tariff__include">
                  30 мин
                </div>
                <span class="tariff__price">3500 ₽</span>
                <a href="#!" class="btn">Связаться</a>
              </div>
              
            </div>
            <div class="swiper-pagination"></div>
          </div>
          
        </div>
      <div class="section__devider"></div>
</section>