<section class="training" id="training">
    <div class="container">
        <h2 class="section__title">О ТРЕНИРОВКАХ</h2>
        <p class="training__description">Обучение включает в себя как практическую, так и теоретическую части: изучение правил гребного спорта, его основ, работу над общей физической подготовкой гребца, отработка приемов гребли на практике.</p>
        <div class="training__article">
            <img src="images/img-2.png" alt="">
            <div class="training__article-text">
                <h3 class="training__article-title">КАК МЫ РАБОТАЕМ?</h3>
                <p>Планомерно готовим спортсменов, применяя тренировки, адекватные возрасту и физическому развитию человека.</p>
                <p>Используем передовые методики подготовки</p>
                <p>Руководствуемся основными принципами физического воспитания</p>
                <p>Мы работаем как с детьми, так и со взрослыми: с профессиональной подготовкой и без нее.</p>
                <p>Для начала занятий достаточно иметь: <br>
                    1. медицинское заключение (справка) о допуске к занятиям физической культурой и спорта;
                    <br>
                    2. Спортивная форма:
                    <br> 
                    для занятий в тепловое время года (зале) - футболка с коротким рукавом, шорты (велотрусы), кепка, носки (сменные) спортивная обувь.
                    для занятий в холодное время года - футболка с длинным рукавом (термофутболка), ветровка, толстовка (по необходимости) спортивное трико (легинсы), ветровка, шапка, перчатки (по необходимости)
                    </p>
            </div>
        </div>
    </div>
    <div class="section__devider"></div>
    <div class="container">
        <div class="training__type">            
            <div class="training__type-inner">
                <p>ЮНИОРЫ</p>
                <p>Детско-юношеская команда</p>
                <p>Группа формируется по __-__ человек. 
                    Возраст – от __ лет.</p>
                <p>План тренировок составляется в зависимости от возраста и уровня подготовки группы.</p>
            </div>
            <div class="training__img">
                <img src="images/img-3.png" alt="">
            </div>
        </div>
        <div class="training__type">
            <div class="training__img">
                <img src="images/img-4.png" alt="">
            </div>
            <div class="training__type-inner">
                <p>ЮНИОРЫ</p>
                <p>Детско-юношеская команда</p>
                <p>Группа формируется по __-__ человек. 
                    Возраст – от __ лет.</p>
                <p>План тренировок составляется в зависимости от возраста и уровня подготовки группы.</p>
            </div>
        </div>
        <div class="training__type">            
            <div class="training__type-inner">
                <p>ЮНИОРЫ</p>
                <p>Детско-юношеская команда</p>
                <p>Группа формируется по __-__ человек. 
                    Возраст – от __ лет.</p>
                <p>План тренировок составляется в зависимости от возраста и уровня подготовки группы.</p>
            </div>
            <div class="training__img">
                <img src="images/img-5.png" alt="">
            </div>
        </div>
    </div>
</section>